<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="nunit.framework, Version=2.6.1.12217" publicKeyToken="96d09a1eb7f44a77" culture="Neutral" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>